.bg-jumbotron {
  background-image: url(../Img/portada.png);
  background-position: 40%;
  background-size: cover;
  color: #19ff38;
  border-radius: 0%; }

footer {
  background-color: #f70909;
  margin: 20px, 1px, 10px, 1px;
  padding: 25px, 15px, 15px, 25px; }

.card-product {
  flex: 1 200px;
  margin: 0px, 5px, 30px, 0px; }

.iconos {
  font-size: 30px; }

.iconos2 {
  font-size: 20px; }

.iconos3 {
  font-size: 20px; }

.btn {
  border-radius: 0px; }

.btn-coment {
  margin: 10px, 0px, 0px, 0px;
  border-radius: 4px; }

.us {
  margin: 30px, 30px, 30px, 30px;
  border-radius: 8px; }

.caro {
  height: 320px; }
